.news-list {
  width: 980px;
  align-self: center;
}

.news-list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-list h1 {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
}

.news-list ul {
  margin-block: 0;
  list-style-type: none;
  margin-inline: 0;
  padding-inline: 0;
}

.news-list li {
  display: block;
}
